/*===========INDEX TWEAKINGS===========*/
.wrapper {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(203, 238, 255);
    animation: colorChange linear 16s running;
    overflow: hidden;
}

.texte {
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
    z-index: 3;
    position: absolute;
    left: -550px;
    color: rgb(0, 0, 0);
}

.yellow {color: rgb(231, 196, 41);}
.red {color: rgb(216, 0, 0);}
.deepBlue {color: rgb(40, 90, 255);}
.green {color: rgb(0, 148, 0);}
.pink {color: rgb(240, 131, 149);}
.blue {color: rgb(47, 144, 255);}
.blueGray {color: rgb(101, 132, 172);}
.rainbowText {animation: rainbowText 2s linear infinite;}

.conclusion {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    text-align: center;
    z-index: 4;
    position: absolute;
    top: -1300px;
    height: 1000px;
    left: 180px;
    padding-top: 150px;
    background-color: #fff;
}

/*-------BACKGROUND--------*/

.white {
    background-color: rgb(255, 255, 255);
    z-index: 3;
    position: absolute;
    width: 1200px;
    height: 768px;
    left: -1200px;
}

ul {
    list-style-type: none;
    text-align: left;
}

/* Rayons blancs du background */
#background01 {
    animation: slowRotate 24s linear running;
    overflow: visible;
    z-index: 0;
}

/*--------------------------------------*/

/*===================OBJETS===================*/

.objetA, .objetB {
    position: absolute;
    top: 0;
    position: absolute;
    transform: scale(0);
    z-index: 2;
}


#rainbow {
    z-index: 1;
    position: absolute;
    top: 200px;
    left: -1600px;
}

/*---------------------------------------------*/

/*===================KEYFRAMES / ANIMATION===================*/

/*------------MOVEMENT AND TWEAKING--------------*/

@keyframes rainbowText {
    0% {color: red;}
    20% {color: orange;}
    40% {color: yellow;}
    60% {color: green;}
    80% {color: rgb(0, 102, 255);}
    100% {color: rgb(161, 0, 161);}
}

/* Tourne le background */
@keyframes slowRotate {
    100% {
        transform: rotate(180deg);
    }
}


/* =========================================PERSONNAGE=================================== */

.robot {
    position: absolute;
    top: 768px;
}

#led {
    z-index: 3;
    position: absolute;
    left: 0;
    filter: opacity(0%);
    animation: flash .3s linear 8.2s 8 forwards;
}

#feu {
    position: absolute;
    left: 0;
    animation: feu .2s ease-in-out 8s infinite;
    filter: opacity(60%);
}

#brasD {
    position: absolute;
    left: 0;
    transform-origin: 620px 350px;
}

#brasG {
    position: absolute;
    left: 0;
    transform-origin: 405px 350px;
}

#tete {
    position: absolute;
    left: 0;
    z-index: 1;
}

#yeux {
    position: absolute;
    left: 0;
    z-index: 2;
}

.boite {
    position: absolute;
    top: 768px;
    z-index: 3;
}

#lidD {    
    position: absolute;
    left: 0;
    transform-origin: 635px 427px;
}

#lidG {    
    position: absolute;
    left: 0;
    transform-origin: 390px 427px;
}


/*------------KEYFRAMES PERSONNAGE------------*/

/* Allume lumière du robot */
@keyframes flash {
    50% {
        filter: opacity(100%);
    }
}

/* Anime feu robot */
@keyframes feu {
    60% {
        transform: translateY(10px);
        filter: opacity(10%);
    }
    80% {
        transform: translateY(30px);
        filter: opacity(0%);
    }
    80%, 100%{
        filter: opacity(0%);
    }
}

